/* CSS Document */



@font-face {

  font-family: 'BB';

  src: url('font/UTMBanqueBold.eot?') format('embedded-opentype'),  url('font/UTMBanqueBold.woff') format('woff'), url('font/UTMBanqueBold.ttf')  format('truetype'), url('font/UTMBanqueBold.svg') format('svg');

  font-weight: normal;

  font-style: normal;

}



html,body{

    padding:0px;

    margin:0px;

    font-family: 'Open Sans', sans-serif;

	font-weight:400;

    font-size:14px;

}

img{

    max-width:100%;

}

.toppage{

	background-color:#195487;

}

.lang

{

	float:right;

}

.lang a

{

	display:block;

	margin-left:5px;

	height:38px;

	width:37px;

	background-repeat:no-repeat;

	text-indent:-9999em;

	float:left;

}



.outer-right

{



}

.box-slide {
    padding-top: 140px;
    padding-bottom: 120px;
}

@media screen and (max-width: 500px) {
    .box-slide {
        padding: 0;
    }
}

.menu-top

{

	float:right;

	padding-top:10px;

	padding-bottom:15px;

}

.menu-top a

{

	color:#FFF;

	text-decoration:none;

	display:inline-block;

	padding-left:10px;

	padding-right:10px;

	border-right:solid 1px #fff;

}

.menu-top a:last-child

{

	border-right:none;

	padding-right:0;

}



.forllowus

{

	float:right;

	margin-right:20px;

}

.forllowus a

{

	display:inline-block;

	padding-left:5px;

}



.search-destop

{

	padding:0px;

	width:300px;

	background-color:transparent;

	right:0;

	z-index:1000;

	border:solid 1px #fff;

	position:relative;

-webkit-border-radius: 100px;

border-radius: 100px;

   float:right;

}

.search-destop a.btn-search

{

	position:absolute;

	top:0px;

	right:0px;

	color:#fff !important;

	display:block;

	width:42px;

	height:36px;

}

.search-destop input

{

	width:100%;

	background-color:transparent;

	border:none;

	color:#fff !important;

	padding:8px;

	-webkit-border-radius: 100px;

border-radius: 100px;

}

.search-destop i.fa

{

	position:absolute;

	right:5px;

	top:5px;

	font-size:20px;

	color:#fff !important;

}

.static

{

	position:fixed;

	top:0;

	left:0;

	background-color:#14b0bf !important;

	width:100%;

}

.pos-re

{

	position:relative;

	width:100%;

}

.header{

	background-image:url(../images/bg_header.png);

	position:absolute;

	top:0;

	left:0;

	width:100%;

	height:130px;

	z-index:10000

}

.logo{

float:left;

padding-top:10px;

padding-bottom:10px;

}

.slogan

{

	float:left;

	padding-top:20px;

	margin-left:30px;

}

.hotline

{

	float:right;

	background-image:url(../images/bg_hotline.png);

	background-repeat:no-repeat;

	background-position:center left;

	padding-left:30px;

	line-height:40px;

	font-weight:700;

	color:#ff8a00;

	text-transform:uppercase;

	margin-right:30px;

}

.menubar{

    height:44px;

	background-color:transparent;

}

.nav{

    padding:0px;

    margin:0px;

	font-family:'Open Sans', sans-serif;;

	font-size:14px;

	text-transform:uppercase;

	background-color:#14b0bf;

	height:44px;

	border-bottom:solid 4px #0481b5;

}

.nav>li{

	float:left;

    height:44px;

    line-height:44px;

    text-transform:uppercase;

	list-style:none;

	position:relative;

}

.nav > li:hover>a,.nav > li.active>a{

	background-color:#ba0000;

	color:#fff;

}

.nav li:last-child{

    border-right:none;

}

.nav>li>ul{

	display:none;

	position:absolute;

	top:ba0000;

	left:0;

	background-color:#ba0000;

	width:280px;

	margin:0;

	padding:0;

	z-index:10000

}

.nav>li>ul li{

	display:block;

	padding:10px;

	border-bottom:solid 1px #d01515;

	text-align:left;

	line-height:normal

}

.nav>li>ul>li a{

	font-size:14px;

	text-transform:none;

	text-decoration:none;

	color:#fff

}

.nav>li>ul>li a:hover{

	color:#ffd4d4;

	background-color:transparent;

	font-size:14px;

}

.nav>li>a{

    display:inherit;

    padding:0px 12px;

    text-decoration:none;

	font-family:'Open Sans', sans-serif;;

	font-weight:700;

	text-transform:uppercase;

	color:#fff;

    font-size:15px;

}

.nav li > a:hover,.nav li.active > a{

    color:#fff;

	background-color:#ba0000

}





.menuhome

{



}





.c, .c5, .c10, .c15, .c20, .c30, .c3, .c2 {

    clear: both;

}



.c2 {

    height: 2px;

}

.c3 {

    height: 3px;

}

.c5 {

    height: 5px;

}

.c10 {

    height: 10px;

}

.c15 {

    height: 15px;

}

.c20 {

    height: 20px;

}

.c30 {

    height: 30px;

}

.c35 {

    height: 35px;

}



.box-bg-w

{

	background-color:#FFF;

	padding:20px;

	border:solid 1px #d8dad3

}



.title-box-home{

    background:#f9f9f9;

    border:1px solid #ececec;

    border-bottom:none;

    text-transform:uppercase;

    font-size:22px;

    padding:7px 10px 8px 12px;

    font-family:UTM_Bebas, Arial, Helvetica, sans-serif;

	font-weight:normal;

}

.title-box-home a{

    color:#333;

    text-decoration:none;

}

.title-box-home-1{

    padding: 0px;

    margin: 0px;

    color:#444;

    border-bottom:2px solid #288ad6;

    font-family:UTM_Bebas, Arial, Helvetica, sans-serif;

    text-transform:uppercase;

    font-size:22px;

    font-weight:normal;

    padding:10px 0px;

}



.title-box-home-1 a{

    color:#444;

    text-transform:uppercase;

    text-decoration: none;

}



.pro-name{

    color:#288ad6;

    margin:0px;

    font-size:14px;

    font-size:16px;

    font-weight:normal;

	font-family:"OB";

	color:#414042;

	margin-bottom:10px;

	margin-top:15px;

}

.pro-name a{

    color:#414042;

    text-decoration:none;

}

.pro-name a:hover{

    color:#8d8c8e;

}



.content-box-pro{

    padding-bottom:15px;

}

.intro-pro

{

	margin-top:10px;

	color:#595959;

	line-height:20px;

	font-size:14px;

}

.box-news-home

{

	background-image:url(../images/bg_news.png) !important;

}

.outer-item-news-home

{

	margin-bottom:20px;

}

.image-news-home

{

	width:100%;

	display:block;

	margin-bottom:10px;

}

.name-news-home

{

	font-family:"UT",Arial, Helvetica, sans-serif;

	text-transform:uppercase;

	margin-top:10px;

}

.name-news-home a

{

	color:#0a141d;

	line-height:22px;

	text-decoration:none;

}

.name-news-home a:hover

{

	color:#d73135;

}

.intro-news-home

{

	color:#4c4949;

	line-height:22px;

	text-align:justify;

}





.intro-catpro

{

	color:#4c4949;

	line-height:22px;

}

.detail {

    font-size: 14px;

    color: #fff;

    padding: 5px 14px;

    text-transform: uppercase;

    position: absolute;

    bottom: 5px;

    left: 10px;

    height: auto;

    border-radius: 3px;



    background: #63b6db; /* Old browsers */

    background: -moz-linear-gradient(top,  #63b6db 0%, #309dcf 100%); /* FF3.6-15 */

    background: -webkit-linear-gradient(top,  #63b6db 0%,#309dcf 100%); /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(to bottom,  #63b6db 0%,#309dcf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */





    text-decoration: none;

}



.cell-pro-1-3 .view-detail{

    text-align:center;

	background-color:#e79b18;

	display:block;

	width:30%;

	margin:auto;

	padding-top:5px;

	padding-bottom:5px;

	margin-top:20px;

}

.content-box-pro .view-detail a{

	font-size:16px;

	color:#fff;

	text-decoration:none;

}

.content-box-pro .view-detail a:hover{

    color:#FFF;

}

.box-pro-hover{

    position:relative;

}

.box-pro-hover:hover{

    box-shadow:0px 0px	10px #CCC;



}

.cat-view-more{

    float:right;

    text-transform:none;

    font-size:14px;

    color:#288ad6 !important;

    font-family:Arial, Helvetica, sans-serif;



}







.footer{

    min-height:345px;

	background-image:url(../images/bg_footer.png);

	background-repeat:repeat;

	background-position:center top;



}

.inner-footer

{

	padding-top:70px;

	color:#fff;

	line-height:22px;

}

.title-box-footer{

    color:#fff;

    font-family: Arial, Helvetica, sans-serif;

    font-size:14px;

    font-weight:bold;

	text-transform:uppercase;

    margin-bottom: 5px;

	padding:0px;

}

.mnu-box-footer

{

	border-top: solid 1px #444;

	padding-top:10px;

}



.title-box-footer a{

    color:#DDD;

    text-decoration: none;

	display:block;

}

.item_list_footer{

    padding: 3px 0px;

}



.item_list_footer a{

    color:#999;

    text-decoration: none;

	display:block;

}

.title-box-footer a .fa{

	visibility:hidden;

	color:#0c9ad8;

	float:right;

}

.item_list_footer a:hover{

	color:#fff;

}

.item_list_footer a i.fa

{

	display:none;

}





.thumb-prev, .thumb-next{

    text-decoration: none;

    color: #CCC;

    font-size: 20px;

    position: absolute;

    top:30%;

    font-weight: normal;

    z-index: 999;

}

.thumb-prev{

    left: -15px;

}



.thumb-next{

    right:  -15px;

}









.btn-order{

    text-decoration:none;

    background:#e79b18;

    padding:10px;

    color:#FFF;

    text-align:center;

    display:block;

	width:48%;

}

.outline-inward

{

	background-color:#eb5b4c !important;

}

.btn-order span{

    font-size:18px;

    font-weight:bold;

    text-transform:uppercase;



}







.pro-detail-name{

    margin:0px;

    padding:0px 0px 10px 0px;

	font-size:22px;

	font-weight:normal;

	color:#7b540f;

	text-transform:uppercase;

	font-weight:700

}



.pro-address-phone-detail{

    font-size: 18px;

    line-height: 30px;

    font-family: UTM_Bebas, Arial, Helvetica, sans-serif;

    color: #FFF;

    background: #288AD6;

    padding: 10px 0px;

    border-radius: 5px;

    box-shadow: 0px 1px 6px #333;

}

.pro-address-phone-detail span{

    color:#DDD;



}





.pro-attr-detail{

    border-bottom:solid 1px #DDD;

	padding-bottom:15px;

	margin-bottom:15px;

	font-size:16px;

	line-height:22px;

	padding-top:15px;

}



.attr-item{

    padding:3px 0px;

    color:#000000;

	font-weight:700;

}



.attr-name{

    font-weight:700;

}

.attr-value{

    font-weight:bold;

    color:#ee4e20;

}







.txt-contact{

    width:100%;

    border:solid 1px #cccccc;

    padding:10px;

    margin-top:5px;

	-webkit-border-radius: 6px;

border-radius: 6px;

}

.textarea-txt-contact

{

	height:183px !important;

}

.label-contact{

    margin-top:10px;

}

.label-contact strong{

	font-weight:normal;

}

.error{

    color:#FF0000;

}



.btn-send{

    border:solid 1px #db0000;

    background:#db0000;

    padding:10px 30px;

    color:#FFF;

    margin-top:15px;

	font-weight:700;

	text-transform:uppercase;

-webkit-border-radius: 6px;

border-radius: 6px;

}





.news-name-detail{

    padding:0px;

    margin:0px;

    font-size:18px;

    color:#4f4f51;

	font-weight:700;

	margin-bottom:5px;

}

.row-content

{

	margin-top:15px;

}

.createdate{

    font-size:12px;

    color:#666;

}

.intro-detail{

    font-size:14px;

}

.other-article{

    padding:10px 0px;

    margin:0px;

}

.other-article li{

    list-style:none;

    padding:5px 0px;

}

.other-article li a{

    color:#4d4d4f;

    text-decoration:none;

	font-size:14px;

	display:block;

	background-image:url(../images/bulet.png);

	background-repeat:no-repeat;

	background-position:left center;

	padding-left:25px;

}



.other-article li a:hover{

    text-decoration:underline;

}

.other-article li a .fa{

    margin-right:10px;

}

.crumb{

	background-repeat:repeat-x;

	background-position:top;

	background-image: url(../images/bgcrum.png);

	background-repeat:repeat-x;

	background-position:bottom;

	background-color:transparent;

	padding-bottom:5px;

}

.crumb a{

    color:#b2b2b2;

    text-decoration:none;

	font-weight:normal;



}

.crumb .fa-home{

    margin-right:10px;

}

.crumb a:last-child{

    font-weight:bold;

	color:#db0000

}

.crumb br

{

	display:none

}

.page-name{

    padding:0px 0px;

    margin:0px;

	font-size:20px;

	font-weight:700;

	color:#14b0bf;

	padding-top:50px;

	font-family:Arial, Helvetica, sans-serif;

	text-transform:uppercase;

	background-image:url(../images/bg_page_name.png);

	background-repeat:repeat-x;

	background-position:bottom;

	margin-bottom:20px;

}

.page-name span{

	background-color:#FFF;

	display:inline-block;

	padding-right:20px;

}

.page-name br

{

	display:none;

}

.cat-content

{

	color:#767676;

}

.news-name-home{

    font-size:14px;

    padding:0px;

    margin:0px;

}

.news-name-home a{

    color:#333;

    text-decoration:none;

}

.page{

    border:solid 1px #bbbbbb;

    padding:5px 8px;

    margin:2px;

    text-decoration:none;

    color:#000;

	font-size:14px;

	-webkit-border-radius: 5px;

border-radius: 5px;

}

.page:hover{

    color:#000;

	border:solid 1px #fdb812;

	background-color:#fdb812;

	font-family:"OB";



}

.clicked{

    padding:2px;

    margin:2px;

    color:#000;

    border:solid 1px #fdb812;

    padding:6px 9px;

	background-color:#fdb812;

	font-family:"OB";

	-webkit-border-radius: 5px;

border-radius: 5px;

margin-top:-2px !important;

}















.div-scroll{

    width:100%;

    overflow:auto;

    padding-right:2px;

}



.txt-comment{

    width: 100%;

    height: 30px;

}





.partner-prev, .partner-next {



    height:28px;

    width: 15px;

    color: #fff;

    text-decoration: none;

    position: absolute;

    text-align:center;

    top: 50%;

	margin-top:-14px;

	background-image:url(../images/npslide.png);

	background-repeat:no-repeat;

}

.partner-prev {

    left: -20px;

	background-position:0 0;



}

.partner-next {

    right: -20px;

	background-position:-15px 0;



}



.general-product{

	padding:10px 0px;

	color:#787878;

	font-weight:normal;

	border-bottom:solid 1px #f4f4f4;

	padding-bottom:20px;

}



.comment-item-list{

	background: url(../images/no-avatar.png) no-repeat;



}



.like-comment{

	text-decoration:none;

	color:#666;

}

.pagination{

	margin:0px;

	padding:0px;

}



.title-left{

    margin: 0px;

	padding:10px 10px;

	font-weight:700;

    background:#14b0bf;

    font-size:16px;

	font-weight:700;

	padding-left:15px;

	color:#fff;

	text-transform:uppercase;

	background-image:url(../images/bg_hd_left.png);

	background-repeat:no-repeat;

	background-position:right center;

}

.box-border-left

{

	border:solid 1px #d7d7d7;

	border-top:none

}

.news-right

{

	margin-top:20px;

}



.news-right a

{

	text-decoration:none;

	color:#4d4d4f;

}

.news-right a:hover

{

	color:#db0000;

}

.intro-left

{

	font-size:14px;

	margin-top:20px;

	line-height:20px;

}

.title-left a{

    text-decoration: none;

    color: #FFF;

}



.menuleft{

    margin: 0px;

    padding: 0px;

	padding:5px;



}

.bb-d7d7d7{

	border-bottom:solid 1px #d7d7d7;

	padding-bottom:15px !important;

	margin-bottom:15px !important;

	overflow:hidden;

}

.menuleft li{

    list-style: none;

    padding:8px 0px;

}



.menuleft li a{

    text-decoration: none;

    color: #020202;

	font-size:13px;

	display:inline-block;

	background-image:url(../images/bl.png);

	padding-left:30px;

	background-repeat:no-repeat;

	background-position:left center;

	line-height:20px;

}

.menuleft li a:hover{

	color:#1562a6

}

.menuleft li:last-child{

    border-bottom: none;

}

.name-left a{

    text-decoration: none;

    color: #333;

}

.menuleft li.active a

{

	font-weight:700;

	color:#14b0bf;

}

.image-left img{

    border:solid 1px #CCC;

}

.menuleft>li.active ul{

	padding-left:30px;

}

.menuleft>li.active ul li

{

	padding-bottom:0;

}

.menuleft>li.active ul li a{

	background-image:none;

	padding-left:0;

	color:#222;

	font-weight:normal

}



.video-left-first{

    position: absolute;

    bottom: 0px;

    background: rgba(255,255,255,0.3);

    width: 100%;

    padding: 5px;

    padding-bottom: 8px;

}

.video-left-first a{

    text-decoration: none;

    color: #DDD;

}



.vtip{

	text-decoration:none;

	color:#666;

}

.intro-product{

	    min-height: 122px;

}





.box-info-home{



}

.title-info-home{

	font-size:24px;

	padding:0px;

	color:#fff;

	margin:0px;

	font-weight:700;

	text-transform:uppercase;

}

.title-info-home a{

	color:#fff;

	text-decoration:none;

}

.box-info-home .content{

	line-height:24px;

    color:#fff;

	font-size:14px;

	margin-top:20px;

	margin-right:100px;

}

.outer-wc

{

}

.wc-home

{

	background-repeat:no-repeat;

	background-position:left;

	min-height:470px;

	 background: -webkit-linear-gradient(left,#14b0bf 50%,transparent 50%);

    background: -moz-linear-gradient(left,#14b0bf 50%, transparent 50%);

    background: -ms-linear-gradient(left,#14b0bf 50%,transparent 50%);

    background: linear-gradient(left,#14b0bf 50%, transparent 50%);

    padding-top:60px;

}

.btn-wc

{

	background-color:#fff;

	display:inline-block;

	text-align:center;

	width:30%;

	-webkit-border-radius: 60px;

border-radius: 60px;

margin-top:20px;

font-size:16px;

text-transform:uppercase;

font-weight:700;

text-decoration:none;

padding-top:10px;

padding-bottom:10px;

color:#14b0bf;

}

.inner-wc-home

{

	background-image:url(../images/bg_wc.png);

	background-position:right top;

}

.image-info-home{

	display:block;

	margin:auto;



}

.line-pro

{

	margin-bottom:30px;

}

.title-box-product-home{

	font-family:"UME",Arial, Helvetica, sans-serif;

	padding:0px;

	text-align:center;

	color:#FFF;

	background-color:#af7d26;

	margin:0px;

	padding-top:10px;

	padding-bottom:10px;

	text-transform:uppercase;

	font-weight:normal;

	font-size:21px;

}

.title-box-product-home a{

	color:#fff;

	text-decoration:none;

}

.title-box-product-home a:hover{

	color:#f6bb55

}

.subcat-home{

	text-transform:none;

	margin:0px 0px;

}

.box-sub-cat-home{

	font-size:14px;

	color:#0192ce;

}

.box-sub-cat-home a{

	color:#0192ce;

}

.box-sub-cat-home a:hover{

	text-decoration:underline;

}

.cat-view-all{

	float:right;

	font-size:12px;

	margin-top:10px;

}

.cat-view-all:hover{

	text-decoration:underline;

}

.cat-view-all .fa{

	color:#0192ce;

}

.price-detail{

	font-size:30px;

	color:#ea313e;

	font-weight:bold;

}

.price-detail span{

	color:#989898;

	font-size:12px;

	font-weight:normal;

}



.top-news

{

	border-bottom:solid 1px #e0e0e0;

}

.top1news

{



}

.top1news img

{

	width:100%;

	margin-bottom:10px;

}

.title-news

{

	font-weight:bold;

	line-height:22px;

	font-size:14px;

	margin:0;

	padding:0;

}

.title-news a

{

	color:#000000;

	text-decoration:none;

}

.title-news a:hover

{

	color:#5c5c5c;

}

.intro-news

{

	color:#5c5c5c;

	font-size:13px;

	line-height:20px;

	margin-top:10px;

}

.top-3-news

{



}

.item-top-3

{

	margin-bottom:15px;

	overflow:hidden;

}

.item-top-3 img

{

	width:40%;

	float:left;

	margin-right:15px;

}

.mnu-footer

{



}

.mnu-footer a

{

	display:inline-block;

	padding-right:15px;

	color:#6e6e6e;

	text-decoration:none;

	font-size:12px;

	padding-top:10px;

	padding-bottom:20px;

}

.mnu-footer a:hover

{

	color:#fff;

}





.tab-title

{

	border-bottom:solid 1px #c7c7c7

}

.tab-title span

{

	display:inline-block;

	background-color:#c7c7c7;

	color:#3a3a3a;

	font-size:14px;

	font-weight:bold;

	padding: 10px 20px;

	-webkit-border-radius: 10px 10px 0 0;

border-radius: 10px 10px 0 0;

}

.title-more-product

{

	font-size:22px;

	font-weight:normal;

}

.call_buy

{

	color:#6d6d6d;

	font-weight:bold;

	border-bottom: solid 1px #f4f4f4;

	padding-bottom:10px;

}

.call_buy a

{

	color:#306ac2;

	text-decoration:none;

}

.call_buy i.fa

{

	color:#ea313e;

	font-size:16px;

}

.menuright{

	padding:0px;

	margin:0px;

	border:solid 1px #cecece;

	background:#f5f5f5;

}

.menuright li{

	list-style:none;

	border-top:solid 1px #cecece;

}

.menuright li:first-child{

	border-top:none;

}

.menuright li a{

	display:block;

	padding:10px 15px;

	font-size:12px;

	font-weight:bold;

	color:#373435;

	text-decoration:none;

}

.menuright li:hover,.menuright li.active{

	background:#FFF;

}

.menuright li ul{

	padding:0px;

	margin:0px;

	background:#FFF;

	padding-left:45px;

}

.menuright li ul li{

	border:none;

}

.menuright li ul li a{

	padding:5px 10px 5px 0px;

}

.menuright li ul li:hover a,.menuright li ul li.active a{

	color:#ff7200;

}

.title-menuright{

	background:#3e3e3e;

	color:#FFF;

	text-transform:uppercase;

	font-size:18px;

}

.title-menuright a{

	display:block;

	padding:15px 15px;

	text-decoration:none;

	color:#FFF;

}

.news-title{

	font-size:14px;

	padding:0px 0px 5px 0px;

	margin:0px;

}

.news-title a{

	color:#333;

	text-decoration:none;

}

.news-title a:hover{

	text-decoration:underline;

}

.mobile-hone-bars{

	height:54px;

	line-height:54px;

	font-size:22px;

	text-align:center;

	width:54px;

	background:#3e3e3e;

	border-right:solid 2px #FFF;

}



.box-news-right{

	border:solid 1px #d4d4d4;

}

.image-news-right{

	width:74px;

	height:49px;

	float:left;

	margin-right:10px;

}

.item-news-right{

	border-bottom:dashed 1px #d4d4d4;

	padding:10px 10px;

	width:100%;

}

.box-news-right .item-news-right:last-child{

	border-bottom:none;

}

.name-l{

	padding:0px;

	margin:0px;

}

.name-l,.name-l a{

	font-size:12px;

	text-decoration:none;

	color:#343434;

}

.margin-bottom-10{

	margin-bottom:10px;

}

.box-bignews-right{

	background:#d4d4d4;

	width:100%;

}

.hide-pc-tab-pad{

	display:none;

}

.cart-red{

	border:solid 1px #FF0000 !important;

}

#btnshowsearchmobile{

	display:none !important;

}

.box-search-mm{

	background:#EEE;

	padding:5px;

	display:none;

	z-index:999999;

	position:absolute;

	left:0px;

	top:100%;

	width:100%;

}

.box-search-mm input{

	width:calc(100% - 30px);

	height:25px;

	padding:0px 5px;

	display:inline-block;

}

.box-search-mm a{

	width:29px;

	height:25px;

	display:inline-block;

	background:#00b4ff;

	float:right;

	text-align:center;

	line-height:25px;

}

.box-sub-cat-home .fa-angle-double-right{

	visibility:hidden;

}

.title-box-product-home .fa-angle-down{

	visibility:hidden;

}

.pro-name-hover{

	color:#fff;

	text-decoration:none;

	font-weight:bold;

}

.gototop{

	position:fixed;

	background:#FFF;

	height:20px;

	bottom:40px;

	left:calc(100% - 60px);

	width:40px;

	background:url(../images/gototop.png) no-repeat;

	width:40px;

	height:40px;

	cursor:pointer;

	display:none;

}

#tieuchimobile{

	display:none;

}

.margin-bottom-20{

	margin-bottom:20px;

}

.btn-viewmore

{

	display:block;

	background-color:#d73135;

	padding-top:7px;

	padding-bottom:7px;

	width:140px;

	text-align:center;

	color:#fff;

	text-decoration:none;

	margin-top:20px;

}

.box-service-home

{

	background-image:url(../images/bg_sv_home.png);

	background-repeat:no-repeat;

	background-position:center bottom;

	background-size:100%;

	padding-top:60px;

	padding-bottom:60px;

}

.iner-service

{

	position:relative



}

.box-service-home img

{

	width:100%;

	display:block;



}

.service-name-home

{

	text-align:center;

	font-weight:700;

	margin:0;

	font-family:"OB";

	font-size:30px;

}

.service-name-home a

{

	font-family:"UME",Verdana, Geneva, sans-serif;

	font-size:21px;

	color:#FFF;

	text-transform:uppercase;

	text-decoration:none;

}



.title-sevice-home

{

	background-color:#FFF;

	padding:10px 15px;

	font-weight:700;

	margin:0;

}

.title-sevice-home a

{

	text-decoration:none;

	color:#2d2d2d;

	font-size:16px;

}

.title-sevice-home a:hover

{

	color:#008c45

}





.service-name-home a:hover

{

	color:#008c45

}

.intro-s

{

	color:#fff;

	font-size:14px;

	line-height:22px;

	text-align:center;

	padding-bottom:30px;

	margin-top:30px

}



.s-viewmore

{

	color:#FFF;

	font-size:16px;

	display:block;

	margin-top:10px;

}

.scroll-prev

{

	position:absolute;

	background-image:url(../images/npslide.png);

	width:15px;

	height:28px;

	margin-top:-14px;

	top:50%;

	left:-30px;

	background-position:0 0;

	z-index:10000;

}



.scroll-next

{

	position:absolute;

	background-image:url(../images/npslide.png);

	width:15px;

	height:28px;

	margin-top:-14px;

	top:50%;

	right:-30px;

	background-position:-16px 0;

	z-index:10000;

}

.line-home

{

	padding-top:50px;

	padding-bottom:50px;

}



.title-home

{

	font-weight:700;

	color:#14b0bf;

	font-size:24px;

	text-align:left;

	text-transform:uppercase;

	margin:0;

	margin-bottom:20px;

}



.item-news-home

{

}

.item-news-home img

{

	width:100%;

}

.item-news-home h3

{

	font-size:14px;

	margin-bottom:0;

}

.item-news-home h3 a

{

	color:#4d4d4f;

	font-weight:700;

	text-decoration:none;

}

.item-news-home h3 a:hover

{

	color:#0481b5;

}

.item-news-home .date

{

	font-size:12px;

	color:#939393;

}

.item-news-home .intro {
	margin-top:10px;
	line-height:22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}





.title-home-colorfff

{

	color:#fff;

}

.title-home a

{

	font-weight:700;

	color:#14b0bf;

	font-size:30px;

	text-align:center;

	text-transform:uppercase;

	text-decoration:none;

}

.title-home a:hover

{

	color:#0481b5;

	text-decoration:none;

}

.item-adv

{

	width:100%;

	margin-bottom:40px;

	margin-left:-55px;

	display:table;

}

.item-adv a.img

{

	margin-right:20px;

	display:table-cell;

	width:86px;

}

.title-adv

{

	margin-top:0px;

	display:table-cell;

	vertical-align:middle;

	text-align:left;

	width:calc(100% - 86px);

	padding-left:20px;



}

.title-adv a

{

	font-size:24px;

	color:#ffffff;

	text-decoration:none;

	font-weight:800;

	font-style:italic;

}







.cell-pro-1-3

{

	width:33.333%;

	border-bottom:solid 1px #d8d7d7

}

.box-newsletter

{

	background-color:#1562a6;

}

.title-box-newsletter

{

	font-size:16px;

	color:#fff;

	text-transform:uppercase;

	font-family:"UME";

	line-height:70px;

}

.box-input-newsleeter

{

	border:solid 1px #fff;

	margin-top:15px;

	position:relative;

}

.box-input-newsleeter input

{

	width:100%;

	border:solid 1px #af7d26;

	background-color:#af7d26;

	color:#FFF;

	padding:10px;

}

.btn-news-letter

{

	position:absolute;

	top:26%;

	right:10px;

	border-left:solid 1px #fff;

	padding-left:10px;

	color:#FFF;

	font-size:16px;

	text-decoration:none;

}

.btn-news-letter:hover

{

	color:#fec664

}

.title-footer

{

	font-size:16px;

	text-transform:uppercase;

	color:#fff;

	font-weight:700;

	text-align:left;

	margin-bottom:10px;

}

.info-footer

{

	padding-top:40px;

	color:#8d8d8d;

	font-size:16px;

	padding-bottom:20px;

}

.info-footer1

{

	padding-top:40px;

	padding-bottom:20px;

	color:#fff;

	font-size:18px;

}

.info-footer img

{

	float:left;

	margin-right:20px;

}

.content-footer

{

	font-size:12px;
	line-height:20px;

}
.content-footer > div
{
	margin-bottom:10px;
}
.content-footer img
{
	float:left;
	margin-right:0px;
}
.link-smo-footer {
	margin-top:0px;
	float:right;
}

.link-smo-footer a {

	color: #ba9151;

	text-decoration: none;

	margin-bottom: 5px;

	margin-top: 2px;

	font-weight: normal;

}

.link-smo-footer i {

	text-align: center;

	text-decoration: none;

	font-size: 16px;

	-webkit-border-radius: 100px;

    border-radius: 100px;

	color: #252525;

	border:solid 1px #1562a6;

	text-shadow: none;

	width:34px;

	height:34px;

	line-height:30px;

}

.link-smo-footer .fa-facebook {

	background: #fff;

}

.link-smo-footer .fa-google-plus {

	background: #fff;

}

.link-smo-footer a i.fa-youtube {

	background: #fff;

}

.link-smo-footer .fa-twitter {

	background: #1562a6;

}

.link-smo-footer .fa-linkedin {

	background: #1562a6;

}

.link-smo-footer .fa-pinterest {

	background: #fff;

}

.link-smo-footer a:hover i {

	color: #d73135;

}

.nav-footer

{

	text-align:center



}

.nav-footer a

{

	display:inline-block;

	text-align:right;

	padding-right:15px;

	padding-left:15px;

	font-family:"UME",Verdana, Geneva, sans-serif;

	font-size:14px;

	text-transform:uppercase;

	color:#fff;

	line-height:56px;

	text-decoration:none;

}

.nav-footer a:hover

{

	color:#af7d26;

}

.padding-20

{

	padding:20px;

}

.content-detail

{

	font-size:14px;

	line-height:20px;

}

.content-detail img

{

	max-width:100% !important;

	height:auto !important;

}

.news-name

{

	color:#4d4d4f;

	font-size:14px;

	font-weight:700;

	margin:0

}

.news-name a

{

	color:#4d4d4f;

	text-decoration:none;

	font-weight:700;

}

.news-name a:hover

{

	color:#d73135;

}



.news-name-search

{

	color:#4d4d4f;

	font-size:14px;

	font-weight:700;

	margin-top:0;



}

.news-name-search a

{

	color:#4d4d4f;

	text-decoration:none;

	font-weight:700;

}

.news-name-search a:hover

{

	color:#d73135;

}



.intro-service

{

	color:#604848;

	line-height:22px;

	margin-top:10px;

}

.item-news

{

	padding-bottom:20px !important;

	margin-bottom:20px !important;

}

.item-news img

{

	width:100%;

	display:block;

	margin-bottom:10px;

}

.intro-cat

{

	margin-top:15px;

	font-size:16px;

	margin-bottom:15px;

}

.hd-more

{

	font-size:18px;

	color:#db0000;

	text-transform:uppercase;

	font-weight:700;

	padding-bottom:8px;

	padding-top:8px;

	background-color:#fbdd9b;

	-webkit-border-radius: 100px;

border-radius: 100px;

padding-left:30px;

}

.hd-more span

{

	background-color:#176940;

	color:#FFF;

	padding:10px;

	-webkit-border-radius: 6px 6px 0 0;

border-radius: 6px 6px 0 0;

font-size:16px;

}

.prodetail

{

	padding-top:40px !important;

}

.news-name-detail

{

	color:#14b0bf;

	font-size:18px;

	font-weight:700;

	margin:0;

	margin-top:50px;

}

.intro-sevice

{

	font-size:16px;

	line-height:22px;

	text-align:justify;

}

.title-other-news

{

	background-color:#14b0bf;

	padding:15px;

	padding-top:10px;

	padding-bottom:10px;

	margin:0;

	border-left:solid 10px #ff8400;

	background-image:url(../images/bg_hd_left.png);

	background-position:right center;

	background-repeat:no-repeat;

	font-size:16px;

	font-family:"BB",Arial, Helvetica, sans-serif;

	text-transform:uppercase;

	color:#fff;

}

.frm-service

{

	width:70%;

	margin:auto;

	display:none;

}



.hotline-service a.title-hot

{

	font-weight:700;

	color:#fff;

	font-size:14px;

	text-decoration:none;

	display:inline-block;

	padding-left:20px;

	padding-top:8px;

}



.hotline-service a.hot-service

{

	display:inline-block;

	background-color:#f95a39;

	padding:10px;

	color:#FFF;

	font-size:18px;

	margin-left:10px;

	font-weight:700;

	-webkit-border-radius: 6px;

border-radius: 6px;

text-decoration:none;



}

.hotline-service a.hot-service:hover

{

	background-color:#be8014

}

.frm-service .frm

{

	margin-top:30px;

}

.frm-service .item-input

{

	margin-bottom:15px;

}

.frm-service .item-input input

{

	border:solid 1px #dde2e4;

	padding:10px;

	width:100%;

}

.frm-service .item-input textarea

{

	border:solid 1px #dde2e4;

	padding:10px;

	width:100%;

	height:140px;

}

.btnreg

{

	background-color:#e79b18;

	padding:10px 20px;

	border:solid 1px #e79b18;

	font-size:16px;

	color:#FFF;

	text-transform:uppercase;

	font-weight:700;

	-webkit-border-radius: 6px;

border-radius: 6px;

float:right;

}

.cell-right

{

	padding-top:20px;

}

.advhome

{



	padding-top:30px;

	padding-bottom:30px;

	background-image:url(../images/bg_adv_home.png);

	background-repeat:repeat-x;

	background-position:center top;

}

.prohome

{

	padding-top:40px;

	padding-bottom:40px;

}

.leftpage

{

	width:23%;

}

.right-page

{

	width:75%;

}

.bb

{

	padding-bottom:12px;

	padding-top:12px;

}





.copyright

{

	color:#fff;

	font-size:14px;

	line-height:40px;

	background-color:#252525;

	line-height:40px;

	color:#fff;

	padding-top:10px;

	padding-bottom:10px;

}

.item-news-left

{

	overflow:hidden;

	border-bottom: dashed 1px #d7d7d7;

	padding-bottom:15px;

	padding:20px;

}

.item-news-left img

{

	width:100%;

	margin-bottom:10px;

}

.item-news-left a

{

	text-decoration:none;

	font-size:14px;

	color:#4d4d4f;

	font-size:14px;

	color:#0a141d;

}

.intro-item-news-left

{

	color:#4c4949;

	line-height:22px;

	text-align:justify;

	margin-top:10px;

}

.item-news-left a:hover

{

	color:#a6a0ac

}

.item-serv

{

	margin-bottom:15px;

}

.item-serv .intro

{

	color:#595959;

	line-height:22px;

	font-size:13px;

	margin-top:10px;

}

.item-serv img

{

	width:100%;

	margin-bottom:10px;

}

.item-serv a

{

	text-decoration:none;

	font-family:"OB";

	font-size:14px;

	color:#2d2d2d;

}

.item-serv a:hover

{

	color:#727272

}



.btnreg1

{

	background-image:url(../images/btn-reg.png);

	width:218px;

	margin:auto;

	height:38px;

}

.view-map

{

	background-image:url(../images/map.png);

	background-repeat:no-repeat;

	padding-left:30px;

	float:left;

	line-height:26px;

}

.view-map a

{

	color:#fff;

	text-decoration:none;

	font-family:"OB";

	font-size:14px;

	text-transform:uppercase;



}

.logofooter

{





}

.show-900

{

	display:none;

	padding-top:8px;

}

.show-900 .lang

{

	padding-top:5px;

}

.btn-mobile

{

	float:right;

	border-right: solid 1px #d0d0d0;

}

.btn-mobile:first-child

{

	border-right:none !important;

}

.btn-mobile img

{

	display:block

}

.btn-mobile a

{

	color:#474747;

	text-decoration:none;

}



.box-search-mobile{

	position:relative;

	background-color:#d7d7d7;

	display:none;

}

.box-search-mobile input{

	width:100%;

	padding:10px;

	background-color:#f5f5f5;

	border:solid 1px #f5f5f5;

	color:#222;

}

.box-search-mobile i.fa{

	position:absolute;

	top:10px;

	right:10px;

	font-size:20px;

	color:#222 !important;

}

.hotline-m

{

	float:right;

}

.hotline-m .hotline-top

{

	margin-top:10px;

	border-right:solid 1px #d0d0d0

}

.bornone-m{

	border-right:none

}

.btn-show-saerch-mobile

{



}

.btn-show-phone-mobile

{

	position:absolute;

	top:0;

	right:60px;



}

.show1

{

	display:none;

}

.cus-home

{

	border:solid 1px #c2c2c2

}

.cus-home .img

{

	display:block;

	width:33.33333%;

	float:left;

	margin-right:20px;

}

.cus-home .img img

{

	display:block

}

.xxx

{

	padding-top:20px;

	padding-right:20px;

}

.cus-home .title-sevice-home

{

	padding:0;

	margin-bottom:10px;

}

.cus-home .title-sevice-home a

{

	color:#1562a6;

	font-family:"UT",Arial, Helvetica, sans-serif;

	font-size:18px;

	text-transform:uppercase;

	font-weight:normal;

}

.intro-cus

{

	color:#4c4949;

	line-height:22px;

	text-align:justify;

}





.line

{

	padding-top:40px;

	padding-bottom:40px;

}

.dailyname

{

	font-size:20px;

	color:#1562a7;

	text-transform:uppercase;

	margin-bottom:15px;

}

.pro-name-details

{

	font-family:"UT",Arial, Helvetica, sans-serif;

	margin:0;

	color:#0a141d;

	font-size:21px;

}

.intro-detail

{

	color:#4c4949;

	line-height:22px;

}

.product-hotline

{

	background-color:#d73135;



	display:inline-block;

	width:auto;

	padding:10px 20px;

}

.product-hotline a

{

	color:#fff;

	text-transform:uppercase;

	text-decoration:none;

}

.product-baogia

{

	background-color:#ebbc4c;

	display:inline-block;

	width:auto;

	padding:10px 20px;

	margin-left:15px;

}

.product-baogia a

{

	color:#fff;

	text-transform:uppercase;

	text-decoration:none;

}



.frm-reg {

	background-color: #fff;

	padding: 20px;

	margin-top: 30px;

	overflow:hidden;

	border:solid 1px #d7d7d7

}

.title-frm-reg {

	font-size: 14px;

	color: #303030;

	line-height:34px;

	font-weight:700;

}

.title-frm-reg span{

	color:#F00;

}

.frm-reg .txt, .frm-reg .txt-contact {

	background-color: #fff;

	border: solid 1px #cbcaca;

	padding: 5px;

	color: #222;

	width: 100%;

	font-size: 14px;

}

.frm-reg .btt-reg {

	background-color: #ed1d25;

	text-transform: uppercase;

	text-align: center;

	width: 120px;

	-webkit-border-radius: 6px 6px 6px 6px;

	border-radius: 6px 6px 6px 6px;

	padding: 10px;

}

.frm-reg .btt-reg a {

	color: #fff;

	text-decoration: none;

	font-weight: bold;

	font-weight: bold;

}

.frm-reg .btt-reg a:hover {

	color: #fff;

}

.error {

font-size:11px;

margin-top:5px;

}

.frm-book textarea {

	height: 152px;

}

.frm-reg .tr_td

{

	margin-bottom:10px;

	overflow:hidden;

}

.frm-reg .td_td1

{

	float:left;

	width:25%;

}

.frm-reg .td_td

{

	float:left;

	width:75%;

}

.btn-td-submit

{

	background-color:#d71e15;

	padding:10px 20px;

	text-align:center;

	color:#FFF;

	border:none;

	-webkit-border-radius: 5px;

border-radius: 5px;

font-size:16px;

}

.btn-td-reset

{

	background-color:#700f0a;

	padding:10px 20px;

	text-align:center;

	color:#FFF;

	border:none;

	-webkit-border-radius: 5px;

border-radius: 5px;

font-size:16px;

}

#message_text

{

	font-size:11px;

	color:#F00;

}

#message_text .fa

{

	color:#F00;

}

.title-apply

{

	background-color:#d01810;

	-webkit-border-radius: 10px;

    border-radius: 10px;

	background-image:url(../images/hd-dl.png);

	line-height:15px;

	background-position:left center;

	color:#FFF;

	line-height:44px;

	font-size:14px;

	font-weight:bold;

	text-transform:uppercase;

	width:200px;

	text-align:center;

	background-repeat:no-repeat;

	margin:auto;

	font-weight:normal;

	font-size:24px;

}

.title-apply a

{

	color:#fff;

	text-decoration:none;

}

.product-photos

{

	width:960px;

	margin:auto;

	position:relative;

}

.product-photos .scroll-next1

{

	position:absolute;

	top:50% !important;

	background-image:url(../images/npslide1.png);

	width:60px;

	height:60px;

	background-position:0 0;

	display:block;

	left:-80px;

	margin-top:-30px;

}

.product-photos .scroll-prev1

{

	position:absolute;

	top:50% !important;

	background-image:url(../images/npslide1.png);

	width:60px;

	height:60px;

	background-position:60px 0;

	display:block;

	right:-80px;

	margin-top:-30px;



}



.content-pro

{

	margin-top:30px;

	line-height:22px;

}

#tuyendungForm

{

	display:none;

}

.page-home

{

	margin-top:-40px;

	padding-bottom:70px;

	position:relative;

}

.pd-page-home

{

	padding-top:10px;

	padding-bottom:10px;

	padding-left:3px;

	padding-right:3px;

}

.box-shadow

{

-webkit-box-shadow: 0 3px 3px 3px #EBEBEB;

box-shadow: 0 3px 3px 3px #EBEBEB;

margin-top:-3px;

padding-bottom:30px;

}

.box-page-home

{

	min-height:300px;

	padding-bottom:20px;

}

.page-name-home

{

	font-size:16px;

	font-weight:700;

	margin:0;

	padding:0;

	text-align:center;

	padding-top:30px;

	text-transform:uppercase;

}

.page-name-home a

{

	color:#14b0bf;

	text-decoration:none;

}

.intro-page

{

	width:100%;

	padding:20px;

	text-align:center;

	line-height:22px;

	color:#4d4d4f;

	font-size:14px;

	line-height:22px;

}

.view-detail-page

{

	display:block;

	width:164px;

	height:44px;

	text-align:center;

	color:#FFF;

	font-weight:700;

	text-decoration:none;

	padding-top:12px;

	margin:auto;

	background-color:#14b0bf;

	-webkit-border-radius: 100px;

border-radius: 100px;

}

.icon-page-home

{

	width:100%;

}



.box-page-home:hover .box-shadow

{

	background-color:#14b0bf;

	color:#fff;

}

.box-page-home:hover .box-shadow .intro-page

{

	color:#fff;

}

.box-page-home:hover .box-shadow .page-name-home a

{

	color:#fff;

}

.box-page-home:hover .box-shadow .view-detail-page

{

	background-color:#fff;

	color:#14b0bf

}



.hvr-grow {

  display: inline-block;

  vertical-align: middle;

  -webkit-transform: perspective(1px) translateZ(0);

  transform: perspective(1px) translateZ(0);

  box-shadow: 0 0 1px transparent;

  -webkit-transition-duration: 0.3s;

  transition-duration: 0.3s;

  -webkit-transition-property: transform;

  transition-property: transform;

}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {

  -webkit-transform: scale(1.1);

  transform: scale(1.1);

}

/* Float */

.hvr-float {

  display: inline-block;

  vertical-align: middle;

  -webkit-transform: perspective(1px) translateZ(0);

  transform: perspective(1px) translateZ(0);

  box-shadow: 0 0 1px transparent;

  -webkit-transition-duration: 0.3s;

  transition-duration: 0.3s;

  -webkit-transition-property: transform;

  transition-property: transform;

  -webkit-transition-timing-function: ease-out;

  transition-timing-function: ease-out;

}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {

  -webkit-transform: translateY(-8px);

  transform: translateY(-8px);

}



/* Buzz Out */

@-webkit-keyframes hvr-buzz-out {

  10% {

    -webkit-transform: translateX(3px) rotate(2deg);

    transform: translateX(3px) rotate(2deg);

  }

  20% {

    -webkit-transform: translateX(-3px) rotate(-2deg);

    transform: translateX(-3px) rotate(-2deg);

  }

  30% {

    -webkit-transform: translateX(3px) rotate(2deg);

    transform: translateX(3px) rotate(2deg);

  }

  40% {

    -webkit-transform: translateX(-3px) rotate(-2deg);

    transform: translateX(-3px) rotate(-2deg);

  }

  50% {

    -webkit-transform: translateX(2px) rotate(1deg);

    transform: translateX(2px) rotate(1deg);

  }

  60% {

    -webkit-transform: translateX(-2px) rotate(-1deg);

    transform: translateX(-2px) rotate(-1deg);

  }

  70% {

    -webkit-transform: translateX(2px) rotate(1deg);

    transform: translateX(2px) rotate(1deg);

  }

  80% {

    -webkit-transform: translateX(-2px) rotate(-1deg);

    transform: translateX(-2px) rotate(-1deg);

  }

  90% {

    -webkit-transform: translateX(1px) rotate(0);

    transform: translateX(1px) rotate(0);

  }

  100% {

    -webkit-transform: translateX(-1px) rotate(0);

    transform: translateX(-1px) rotate(0);

  }

}

@keyframes hvr-buzz-out {

  10% {

    -webkit-transform: translateX(3px) rotate(2deg);

    transform: translateX(3px) rotate(2deg);

  }

  20% {

    -webkit-transform: translateX(-3px) rotate(-2deg);

    transform: translateX(-3px) rotate(-2deg);

  }

  30% {

    -webkit-transform: translateX(3px) rotate(2deg);

    transform: translateX(3px) rotate(2deg);

  }

  40% {

    -webkit-transform: translateX(-3px) rotate(-2deg);

    transform: translateX(-3px) rotate(-2deg);

  }

  50% {

    -webkit-transform: translateX(2px) rotate(1deg);

    transform: translateX(2px) rotate(1deg);

  }

  60% {

    -webkit-transform: translateX(-2px) rotate(-1deg);

    transform: translateX(-2px) rotate(-1deg);

  }

  70% {

    -webkit-transform: translateX(2px) rotate(1deg);

    transform: translateX(2px) rotate(1deg);

  }

  80% {

    -webkit-transform: translateX(-2px) rotate(-1deg);

    transform: translateX(-2px) rotate(-1deg);

  }

  90% {

    -webkit-transform: translateX(1px) rotate(0);

    transform: translateX(1px) rotate(0);

  }

  100% {

    -webkit-transform: translateX(-1px) rotate(0);

    transform: translateX(-1px) rotate(0);

  }

}

.hvr-buzz-out {

  display: inline-block;

  vertical-align: middle;

  -webkit-transform: perspective(1px) translateZ(0);

  transform: perspective(1px) translateZ(0);

  box-shadow: 0 0 1px transparent;

}

.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {

  -webkit-animation-name: hvr-buzz-out;

  animation-name: hvr-buzz-out;

  -webkit-animation-duration: 0.75s;

  animation-duration: 0.75s;

  -webkit-animation-timing-function: linear;

  animation-timing-function: linear;

  -webkit-animation-iteration-count: 1;

  animation-iteration-count: 1;

}

.top-page-news

{

	background-color:#fdf8ec;

	margin-bottom:60px;

}

.h2detail

{

	font-size:18px;

	font-weight:700;

	color:#4f4f51;

	margin-bottom:10px;

}

.h2detail a

{

	color:#4f4f51;

	text-decoration:none;



}



.leftpage

{

	padding-top:30px;

}

.pageright

{

	padding-top:30px;

}

.item-pro

{

	text-align:center;

}



.catproname-home

{

	font-weight:700;

	margin-top:10px;

}



.catproname-home a

{

	color:#db0000;

	line-height:22px;

	text-decoration:none;

}

.catproname-home a:hover

{

	color:#ffaa45;

}



.item-pro img

{

	border:solid 1px #e1e1e1;

}

.item-pro:hover img

{

	border:solid 1px #ffaa45;

}

.item-pro:hover .catproname-home a

{

	color:#ffaa45;

}

.panel-contact

{

	background-color:#ebebeb;

	padding:20px;

}

.hd-panel-contact

{

	color:#fff;

	font-size:18px;

	font-weight:700;

	text-transform:uppercase;

	background-repeat:no-repeat;

	background-position:bottom left;

	padding-bottom:10px;

	background-color:#14b0bf;

	padding:10px;

}

.info-contact

{

	margin-top:20px;

}

.g1

{

	color:#4d4d4f;

	margin-bottom:15px;

}

.title-g

{

	font-size:16px;

	text-transform:uppercase;

	font-weight:700;

	margin-bottom:10px;

}

.intro-g

{

	line-height:22px;

}

.intro-g div

{

	margin-bottom:5px;

}

.top-page-content

{

	background-image:url(../images/bg_page-content.png);

	background-repeat:repeat-x;

	background-position:top;

}

.inner-top-page-content

{

	background-image:url(../images/bg_cau_chuyen.png);

	background-repeat:no-repeat;

	background-position:top right;

}

.page-name-content

{

	background-repeat:no-repeat;

	background-position: center left;

	padding-left:80px;

	line-height:62px;

}



#boxshowdetail{

	position:fixed;

	top:50%;

	left:50%;

	transform:translate(-50%,-50%);

	background:#FFF;

	box-shadow:0px 0px 5px #333;

	height:500px;

	width:1000px;

	max-height:90%;

	max-width:95%;

	z-index:9999999;

	overflow:auto;

	-webkit-border-radius:5px;

	-moz-border-radius:5px;

	-ms-border-radius:5px;

	border-radius:5px;

	display:none;

	padding:25px;

}

.overlay{

	position:fixed;

	background:#000;

	opacity: 0.7;

    filter: alpha(opacity=70);

	top:0px;

	left:0px;

	width:100%;

	display:none;

	height:100%;

}

.btn-close-x{

	width:30px;

	height:30px;

	background:#FF0000;

	text-align:center;

	line-height:30px;

	-webkit-border-radius:50%;

	-moz-border-radius:50%;

	-ms-border-radius:50%;

	border-radius:50%;

	color:#FFf;

	text-decoration:none;

	position:absolute;

	right:5px;

	top:5px;

}

.title-prodetail

{

	background-image:url(../images/bg_hd_panell.png);

	background-repeat:no-repeat;

	background-position:bottom left;

	color:#db0000;

	font-size:20px;

	font-weight:700;

	padding-bottom:10px;

	margin-bottom:30px;

}

.price-prodetail

{

	padding-bottom:10px;

	color:#4d4d4f;

}

.price-prodetail span

{

	color:#db0000;

	font-size:20px;

	font-weight:700;

}

.price-prodetail strong

{

	color:#4d4d4f;

}

.intro-prodetail

{

	margin-top:20px;

	color:#4d4d4f;

}



.bg-14b0bf

{

	background-color:#14b0bf;

}

.hd-review

{

	background-color:#0481b5;

	min-height:280px;

	padding-top:35px;

	position:relative;

}

.hd-review .inner-hd

{

	background-image:url(../images/bg_hd_review.png);

	background-repeat:no-repeat;

	background-position:center top;

	margin:auto;

	font-size:24px;

	font-weight:700;

	text-align:center;

	color:#fff;

	padding-top:70px;

	line-height:40px;

}

.hd-review .inner-hd a

{

	color:#fff;

	text-decoration:none;

}

.hd-review .inner-hd a:hover

{

	color:#CCC

}

.review-item

{

	margin-top:30px;

}

.review-item .img

{

	display:block;

	float:left;

width:25%;

float:left;

padding-right:20px;

}

.review-item .img img {
	width:100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.info-review

{

	float:left;

	width:75%;

	padding-top:20px;

	color:#fff;

}

.info-review-page

{

	color:#4d4d4f

}

.bg-line

{

	background-image:url(../images/bg_line_fff.png);

	background-repeat:no-repeat;

	background-position: bottom left;

	padding-bottom:10px;

}

.bg-line-page

{

	background-image:url(../images/bg_line_444.png) !important;

	background-repeat:no-repeat;

	background-position: bottom left;

	padding-bottom:10px;

}

.review-name

{

	font-size:16px;

	font-weight:700;

	text-transform:uppercase;

	margin-bottom:4px;

}

.review-name-page

{

	color:#14b0bf !important;

	font-size:18px ;

}

.flex-direction-nav a.flex-next:before {
    display: none;
}

.flex-direction-nav a.flex-prev:before {
    display: none;
}

.review

{

	margin-top:15px;

	font-style:italic;

	font-weight:normal

}

.hd-review .swiper-pagination

{

	left:50%;

	margin-left:-40px;

}

.hd-review .swiper-pagination-bullet

{

	width:12px;

	height:12px;

	background-color:#fff;

	opacity:1;

	margin-left:5px;

	margin-right:5px

}

.hd-review .swiper-pagination-bullet-active

{

	background-color:#14b0bf;

}

.review-item

{

	margin-bottom:25px;

}



.partner

{

	background-color:#ebebeb;

	padding-top:30px;

	padding-bottom:30px;

}

.box-fanpage

{

	height:223px

}

 .bg-50 {

    background: -webkit-linear-gradient(left,#ebebeb 50%, #f1f2f2 50%);

    background: -moz-linear-gradient(left,#ebebeb 50%, #f1f2f2 50%);

    background: -ms-linear-gradient(left,#ebebeb 50%, #f1f2f2 50%);

    background: linear-gradient(left,#ebebeb 50%, #f1f2f2 50%);

    padding-top:60px;

    padding-bottom:60px;

}

.item-video

{

	margin-bottom:30px;

}

.item-video .img

{

	position:relative;

	display:block;

}

.item-video i.fa

{

	font-size:60px;

	color:#fff;

	position:absolute;

	top:50%;

	left:50%;

	margin-left:-30px;

	margin-top:-30px;

}

.item-video .video-name

{

	font-size:14px;

	font-weight:normal

}

.item-video .video-name a

{

	color:#4d4d4f;

	text-decoration:none;

}

.item-video .video-name a:hover

{

	color:#000;

}

.hotline-detail

{

	background-image:url(../images/bg_hotdetail.png);

	background-repeat:no-repeat;

	width:280px;

	height:63px;

}

.content-hotline-detail

{

	padding-left:70px;

	font-size:18px;

	font-weight:700;

	color:#fff;

	line-height:63px;

	text-transform:uppercase;

}



blockquote{

	background:#Eee;

	padding:10px;

	border-left:solid 3px #008C44;

}
